.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

.custom-link1:link {
color: green;
}

/* visited link */
.custom-link1:visited {
color: red;
}

/* mouse over link */
.custom-link1:hover {
color: blue;
}

/* selected link */
.custom-link1:active {
color: yellow;
}

.custom-link3:link {
color: green;
}

/* visited link */
.custom-link3:visited {
color: green;
}

/* mouse over link */
.custom-link3:hover {
color: blue;
}

/* selected link */
.custom-link3:active {
color: yellow;
}

.custom-link2:link {
color: green;
}

/* visited link */
.custom-link2:visited {
color: yellow;
}

/* mouse over link */
.custom-link2:hover {
color: blue;
}

/* selected link */
.custom-link2:active {
color: yellow;
}
