{% extends 'base_layout.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="jumbotron jumbotron-fluid text-dark">
  <div class="container text-dark">
    <div class="row justify-content-center text-dark">
      <div class="col-sm-12 col-md-12 col-lg-8 text-dark">
        <div class="card text-dark" style="width:100%">
          <form action="/accounts/login/" method="post" class="text-dark">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Log In</legend>
                {{ form|crispy }}
              
            </fieldset>
              <div class="form-group">
                {% if request.GET.next %}
                <button class="btn btn-dark " type="hidden" value="{{request.GET.next}}">Login</button>
                {% else %}
                <button class="btn  btn-dark" type="submit" value="login">Login</button>
                {% endif %}
              </div>
          </form>
          <div class="border-top pt-3 ">
              <small class="text-muted">
                  Need An Account?
              </small>
              <a class="ml-2 text-dark" href="{% url 'accounts:signup' %}">Sign Up Now</a>
          </div>
          </div>
      </div>
    </div>
  </div>
</div>
  <!-- <h1>Login</h1>
  <form class="site-form" action="/accounts/login/" method="post">
    {% csrf_token %}
    <p class="text-dark">nerglthknjlgk</p>
    {{ form }}
    {% if request.GET.next %}
      <input type="hidden" name="next" value="{{request.GET.next}}">
    {% endif %}
    <input type="submit"  value="login">
  </form> -->
{% endblock%}
