{% extends 'base_layout.html' %}

{% block content %}
<div class="row m-4">
  <div class="col-md-6 col-12 border m-1">
    <div class="content  m-2">
        <ul class="list-unstyled">
        <li >
          <div class="row">
            <div class="col-8">
              <img style="hegiht:75px; width:75px;" class="mr-3"
              src="{{profile.profile_pic.url}}"
              alt="{{profile.user.username}}">
            </div>
            <div class="col-4">
                <p class="text-right"><i class="fa fa-cog" aria-hidden="true">setting</i></p>
            </div>
          </div>
        </li>
        <li >
          <a class="mt-0"
          href="{% url 'accounts:profile' username=profile.user.username %}">
          <ins><small>{{profile.user.username}}</small></ins></a>
        </li>
        <hr>
        <li>
          <div class="row">
            <div class="col-6"><strong>Name:</strong></div>
            <div class="col-6 ">
              <small>{{profile.first_name}} {{profile.last_name}}</small>
            </div>
          </div>
        </li>
        <li>
          <div class="row">
            <div class="col-6"><strong>Country:</strong></div>
            <div class="col-6 ">
              <small>{{profile.country}}</small>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-md-5 col-12 border m-1">
    <div class="content m-2">
      <div class="breadcrumb">
        <h6>Articles</h6>
      </div>
      {% if articles|length == 0 %}
      <ul>
        <li>You didn't write Article.</li>
        <li>If you want go to create article page.</li>
      </ul>
      <!-- <p class="blockquote-footer">You didn't write Article</p> -->
      {% endif%}
      <ul class="">
        {% for article in articles %}
        <li>
          <a href="{{article.get_absolute_url}}"><h5>{{article.title|truncatechars:50}}</h5></a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock %}
<!-- <div class="Profile">
  <div class="large"></div>
  <div class="card">
    <div class="center">
      <img src="{{Profile.profile_pic.url}}"/>
    </div>
    <h1>{{Profile.user.username}}</h1>
    <h2>Article From</h2>

    <h2>{{Profile.user.first_name}}{{Profile.user.last_name}}</h2>
    <div><a href="{{Profile.user.email}}">Contact</a> </div>
  </div>
  <div class="large"></div>
</div> -->
