{% extends 'base_layout.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="jumbotron jumbotron-fluid text-dark">
  <div class="container text-dark">
    <div class="row justify-content-center text-dark">
      <div class="col-sm-12 col-md-12 col-lg-8 text-dark">
        <div class="card text-dark" style="width:100%">
          <form action="/accounts/signup/" method="post" class="text-dark" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Sign Up</legend>
                {{ user_form|crispy}}
                {{ profile_form|crispy}}
            </fieldset>
              <div class="form-group">
                <button class="btn  btn-dark" type="submit" value="signup">Sign Up</button>
              </div>
          </form>
          <div class="border-top pt-3 ">
              <small class="text-muted">
                  Alerady An Account?
              </small>
              <a class="ml-2 text-dark" href="{% url 'accounts:login' %}">Log In</a>
          </div>
          </div>
      </div>
    </div>
  </div>
</div>
  <!-- <h1>Signup</h1>
  <form class="site-form" action="/accounts/signup/" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ user_form }}
    {{ profile_form }}
    <input type="submit"  value="Signup">
  </form> -->
{% endblock%}
