{% extends 'base_layout.html'%}
{% block content %}
<main role="main" class="container">
  <div >
    <h1>Welcome to Interview Helper </h1>
    <p class="lead">This is for your help to clear the any company coding round.</p>
    <p> Here you can do the following things.</p>
    <ul>
      <li>You can read any Article realted Data Structure and Algorithms.</li>
      <li>You can read any article of a particular user by going to their profiles.</li>
      <li>You can search any Algorithms.</li>
      <li>You make request for answer of any coding realted questions.</li>
      <li>You can write any article ralated to Data structure and Algorithms.</li>
    </ul>
  </div>
</main>
{% endblock %}
